# dependencies
node_modules
pnpm-lock.yaml

# output
dist
build
coverage

# logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.parcel-cache
.vite
.turbo
.cache

# editor
.DS_Store
Thumbs.db
*.swp
.idea
.vscode

# environment variables
.env
.env.local
.env.production
.env.staging
**.env.**

**/logs/**

commit_msg.txt

.trae/skill-config.json
.trae/documents/
