.flagContainer {
  height: 100%;
  min-height: 32px;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  background-color: color-mix(in srgb, var(--flag-color), transparent 88%);
  max-width: var(--max-title-width);
  border-left: 8px solid var(--flag-color);
}

.flagContent {
  height: 100%;
  padding-block: 4px;
  margin-inline: 4px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
  text-align: left;
}
