@use "tailwindcss" as *;
@use "../core/assets/styles/fonts.scss";
@use "../core/assets/styles/global.variable.scss";

@theme {
  --font-sans: var(--font-primary);
  --font-mono: var(--font-mono-override);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    font-family: var(--font-primary);
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: var(--font-base);
    color: var(--text-primary);
    background-color: var(--bg-base);
  }

  #root {
    height: 100%;
  }

  code,
  pre,
  kbd {
    font-family: var(--font-mono-override);
  }
}
