@use 'tailwindcss' as *;
@use '../core/assets/styles/global.variable.scss';

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #root {
    height: 100%;
    color: #000000;
  }
}
