.dragItem {
  padding: 8px 12px;
  font-size: 14px;
  user-select: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebarDesc {
  font-size: 14px;
  color: #999;
}

.sidebarSection {
  border-bottom: 1px solid #ccc;
  padding-block: 16px;
}

.sidebarSectionTitle {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
