.dragItem {
  padding: 8px 12px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebarDesc {
  font-size: 14px;
  color: #999;
}

.sidebarSectionTitle {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
