.dragItem {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-lg);
  user-select: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebarDesc {
  font-size: var(--font-lg);
  color: var(--text-tertiary);
}

.sidebarSection {
  border-bottom: 1px solid var(--border-base);
  padding-block: var(--spacing-xl);
}

.sidebarSectionTitle {
  font-size: var(--font-xl);
  font-weight: 500;
  color: var(--text-primary);
}
