.grid-panel {
  box-sizing: border-box;
  padding: 12px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  height: 100%;
}
.grid-panel-header {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-panel-content {
  flex: 1;
  overflow: hidden;
}

.grid-panel-footer {
  /* margin-top: 8px; */
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
