.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  background-color: var(--bg-base);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar {
  overflow: hidden;
  position: relative;
  height: 100%;

  .sidebarInner {
    width: 100%;
    height: 100%;
  }
}

.resizeHandle {
  width: 8px;
  background-color: var(--border-base);
  cursor: col-resize;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--border-hover);
  }

  &[data-resize-handle-active] {
    background-color: var(--border-focus);
  }
}
