.plain {
  font-size: 18px;
  font-weight: 600;
}

.flagContainer {
  --flag-color: #873600;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: color-mix(in srgb, var(--flag-color), transparent 88%);
}

.flagMarker {
  width: 8px;
  height: 100%;
  margin-right: 4px;
  background-color: var(--flag-color);
}

.flagContent {
  height: 100%;
  padding-block: 4px;
  margin-right: 4px;
  line-height: 100%;
  font-size: 16px;
}
